html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #1c1c1c;
  color: white;
}
.game-container {
  display: flex;
  justify-content: space-between;
  width: 630px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 3px 2px 54px 0px rgba(0,0,0,0.75);
}
.game-field-wrapper {
  width: 452px;
  height: 722px;
  border: wheat 1px solid;
}
.game-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.controls {
  width: 150px;
  height: 720px;
  border: wheat 1px solid;
}
.cell {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 8px;
}
.sub-cell {
  width: 100%;
  height: 100%;
  border: black 1px solid;
}
.block {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 8px;
  border: #1c1c1c 1px solid;
  background-color: wheat;
  transition: 0.3s;
}
.sub-block {
  width: 100%;
  height: 100%;
  box-shadow: 6px 6px 2px 6px rgba(34, 60, 80, 0.2);
}
.start-game {
  position: absolute;
  top: calc(100vh / 2 - 350px);
  left: calc(100vw / 2 - 220px);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #1c1c1c;
  box-shadow: 0px 0px 100vmax 100vmax rgba(0,0,0,0.75);
}
.score-list-wrapper {
  display: none;
  position: absolute;
  top: 100px;
  left: calc(100vw / 2 - 220px);
  width: 300px;
  height: 300px;
  background-color: #1c1c1c;
  box-shadow: 0px 0px 100vmax 100vmax rgba(0,0,0,0.75);
}
