/* connected fonts */
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather';
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Merriweather';
  src: url(./assets/fonts/Merriweather-Regular.ttf);
  font-weight: 400;
}


/* common style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.container,
.header-container,
.hero-container, 
.contacts-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}


/* header style */
.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
  cursor: pointer;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 31px;
  margin: 0;
  padding-right: 31px;
  padding-left: 0px;
  list-style: none;
}
.nav-link {
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: 0.3s;
}
.nav-link:hover {
  color: #bdae82;
}
.switch-lng {
  font-weight: 700;
}
.lng-en {
  padding-right: 9px;
}
.lng-ru{
  padding-left: 8px;
}
.lng-en,
.lng-ru,
.lng:visited {
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: 0.3s;
}
.lng-en:hover,
.lng-ru:hover {
  color: #bdae82;
}


/* main style */
.hero-container {
  padding: 160px 20px 330px 80px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.hero-title {
  margin: 0;
  padding-bottom: 10px;
  font: 60px 'Merriweather', serif;
  font-weight: 700;
  line-height: 120px;
}
.hero-text {
  width: 470px;
  margin: 0;
  margin-bottom: 25px;
  height: 120px;
  line-height: 40px;
}
.gold-button {
  width: 220px;
  height: 55px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font: inherit;
  transition: 0.3s;
}
.gold-button:hover {
  color: white;
}
.section-title {
  margin: 100px auto 60px;
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.section-title-text {
  margin: 0;
  padding: 0 20px;
  background-color: black;
  color: #BDAE82;
  font: 40px 'Merriweather', serif;
  font-weight: 700;
}
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.skill-item {
  padding: 100px 20px 9px;
  background-position: center top;
  text-align: center;
  flex: 1;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera\ 1.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video\ 1.svg');
  background-size: 60px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image\ 1.svg');
  background-size: 66px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic\ 1.svg');
  background-size: 32px 50px;
  background-repeat: no-repeat;
}
.skill-item-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  line-height: 40px;
}
.skill-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
}
.seasons-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.transparent-button {
  width: 220px;
  height: 55px;
  border: 2px solid #bdae82;
  background-color: transparent;
  cursor: pointer;
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  transition: 0.3s;
}
.transparent-button:hover {
  color: white;
}
.portfolio-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 60px;
}
.portfolio-img {
  width: 450px;
  height: 560px;
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-bg {
  width: 100%;
}
.video-bg-minor {
  display: none;
}
.play-button {
  position: absolute;
  width: 130px;
  height: 130px;
  border: 0;
  background-color: transparent;
  background-image: url('./assets/svg/play_button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.play-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.prices-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 100px;
  text-align: center;
}
.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 41px 0px;
  border: 2px solid #bdae82;
}
.price-title {
  margin: 0;
  font: 28px 'Merriweather', serif;
  font-weight: 700;
  line-height: 56px;
}
.price {
  padding: 20px 0;
  color: #bdae82;
  font: 24px 'Merriweather', serif;
  font-weight: 700;
  line-height: 48px;
}
.price-description {
  padding-bottom: 40px;
}
.price-description span {
  display: block;
  font-size: 18px;
  line-height: 36px;
}
.contacts-container {
  height: 700px;
  background: url('./assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
}
#contacts {
  position: relative;
}
.contacts-wrap {
  position: absolute;
  top: 60px;
  right: 0;
  max-width: 450px;
}
.contacts-title {
  margin: 0 0 10px;
  color: #BDAE82;
  font: 40px 'Merriweather', serif;
  font-weight: 700;
  line-height: 80px;
}
.contacts-forms {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form {
  width: 450px;
  height: 50px;
  border: 2px solid #BDAE82;
  padding: 3px 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #bdae82;
  font: inherit;
  line-height: 40px;
}
::placeholder {
  color: #bdae82;
  font: inherit;
  line-height: 40px;
  vertical-align: middle;
}
.message-form {
  width: 450px;
  height: 100px;
  resize: none;
  border: 2px solid #BDAE82;
  padding: 3px 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #bdae82;
  font: inherit;
  line-height: 40px;
}


/* footer style */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}
.footer-data span {
  margin-right: 20px;
}
.footer-text {
  margin: 0;
}
.footer-link,
.footer-link:visited {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.footer-link:hover {
  color: #bdae82;
}
.social-media-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 9px 0;
}
.social-media-item {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
}
.social-media-item:nth-child(1) {
  background-image: url('./assets/svg/inst\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(2) {
  background-image: url('./assets/svg/fb\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(3) {
  background-image: url('./assets/svg/tw\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(4) {
  background-image: url('./assets/svg/pinterest\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.social-media-link {
  display: block;
  width: 100%;
  height: 100%;
}


/* adaptive */
.hamburger {
  display: none;
  z-index: 4;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active {
  position: fixed;
  right: 64px;
  margin: 0;
}
.hamburger .line{
  width: 50px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover .line{
  background-color: #bdae82;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  transform: translateY(13px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg);
}


/* adaptive 960px */
@media (max-width: 960px) {
  .skills-items {
    gap: 0;
    row-gap: 36px;
    padding: 0 64px 38px 60px;
  }
  .skill-item {
    flex: 1 1 auto;
    max-width: 300px; 
    padding: 80px 10px 40px;
  }
  .skill-item-text {
    line-height: 22px;
  }
  .seasons-buttons {
    max-width: 445px;
    margin: 0 auto;
    padding-top: 5px;
  }
  .prices-items {
    gap: 50px;
    margin-bottom: 80px;
    padding-top: 4px;
  }
  .price-item {
    flex-basis: 420px;
    max-width: 420px;
  }
  .contacts-container {
    height: 600px;
    background-size: auto 600px;
  }
  .contacts-wrap {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .contacts-title {
    margin-top: 60px;
    font-size: 32px;
    line-height: 64px;
  }
}


/* adaptive 768px */
@media (max-width: 768px) {
  .container {
   padding: 0;
  }
  .header-container,
  .hero-container {
    padding-left: 60px;
  }
  .header-container {
    background-position: -5px -30px;
    background-size: auto 620px;
    overflow-x: hidden;
  }
  .hero-container {
    height: 500px;
    padding-top: 78px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
  .switch-lng {
    margin-left: auto;
    padding-right: 20px;
  }
  .lng-ru{
    padding-left: 18px;
  }
  .hamburger {
    display: block;
    margin-right: 44px;
  }
  .nav {
    position: fixed;
    top: 0px;
    right: -620px;
    width: calc(100vw - 148px);
    height: 100vh;
    padding-top: 134px;
    padding-left: 127px;
    overflow-y: scroll;
    background-color: black;
    z-index: 3;
    transition: 0.5s;
  }
  .nav.is-active {
    right: 0px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 0;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 34.8235px;
    line-height: 73px;
  }
  .blackout {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .hero-title {
    padding-bottom: 20px;
    font: 32px 'Merriweather', serif;
    font-weight: 400;
    line-height: 64px;
  }
  .hero-text {
    width: 390px;
    height: 72px;
    margin-bottom: 60px;
    line-height: 24px;
  }
  .section-title {
    width: 47.5%;
    margin-top: 80px;
    margin-bottom: 45px;
  }
  .section-title-text {
    font-size: 32px;
  }
  .video-bg {
    display: none;
  }
  .video-bg-minor {
    display: block;
    width: 100%;
    padding-top: 6px;
  }
  .play-button {
    width: 65px;
    height: 65px;
    margin-top: 3px;
    margin-right: 1px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-data span {
    margin-right: 0;
  }
  .footer-data {
    display: flex;
    gap: 20px;
  }
  .social-media-list {
    padding-top: 13px;
  }
}


/* adaptive 730px */
@media (max-width: 730px) {
  .skills-items {
    justify-content: center;
  }
}


/* adaptive 619px */
@media (max-width: 619px) {
  .nav {
    width: 100vw;
    padding: 100px 0 0;
  }
  .nav-list {
    align-items: center;
    padding-right: 0;
  }
}


/* adaptive 480px */
@media (max-width: 480px) {
  .hamburger {
    margin-right: 0;
  }
  .hamburger.is-active {
    right: 20px;
  }
  .hero-text {
    width: 260px;
  }
  .portfolio-img {
    width: 300px;
    height: auto;
  }
  .contact-form {
    width: 300px;
  }
  .message-form {
    width: 300px;
  }
}


/* adaptive 320px */
@media (max-width: 320px) {
  .header-container,
  .hero-container {
    padding-left: 20px;
  }
}