@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather';
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.container,
.header-container,
.hero-container, 
.contacts-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/
.header-container {
  padding: 20px;
  display: flex;
  align-items: center;
  background: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.logo:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.nav {
  margin-left: auto;
}
.nav-list {
  margin: 0;
  padding: 0 16px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 15px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  transition: .3s;
}
.nav-link:hover {
  color: #bdae82;
}
.switch-lng {
  font-weight: 700;
}
.lng-en {
  padding-right: 9px;
}
.lng-ru{
  padding-left: 8px;
}
.lng-en,
.lng-ru,
.lng:visited {
  color: white;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}
.lng-en:hover,
.lng-ru:hover {
  color: #bdae82;
}

/*main*/
.hero-container {
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.hero-title {
  margin: 0;
  padding-bottom: 10px;
  font: 60px 'Merriweather', serif;
  font-weight: 700;
  line-height: 120px;
}
.hero-text {
  margin: 0 0 25px;
  height: 120px;
  line-height: 40px;
}
.gold-button {
  width: 220px;
  height: 55px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  transition: 0.3s;
}
.gold-button:hover {
  color: white;
}
.section-title {
  margin: 100px auto 60px;
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.section-title h2 {
  display: inline;
  margin: 0;
  padding: 0 20px;
  background-color: black;
  color: #BDAE82;
  font: 40px 'Merriweather', serif;
  font-weight: 700;
}
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.skill-item {
  padding: 100px 20px 9px;
  background-position: center top;
  text-align: center;
  flex: 1;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera\ 1.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video\ 1.svg');
  background-size: 60px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image\ 1.svg');
  background-size: 66px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic\ 1.svg');
  background-size: 32px 50px;
  background-repeat: no-repeat;
}
.skill-item-title {
  margin: 0 0 20px;
  font-weight: 700;
  line-height: 40px;
}
.skill-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.transparent-button {
  width: 220px;
  height: 55px;
  border: 2px solid #bdae82;
  background-color: transparent;
  cursor: pointer;
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  transition: 0.3s;
}
.transparent-button:hover {
  color: white;
}
.portfolio-imgs {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px
}
.portfolio-img:nth-child(1) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img/portfolio-img.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-img:nth-child(2) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img//portfolio-img-1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-img:nth-child(3) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img/portfolio-img-2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-img:nth-child(4) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img/portfolio-img-3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-img:nth-child(5) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img/portfolio-img-4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio-img:nth-child(6) {
  width: 450px;
  height: 560px;
  background-image: url('./assets/img/portfolio-img-5.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.video-player {
  height: 705px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/video-player.jpg');
  background-size: contain;
  background-position: center 0;
  background-repeat: no-repeat;
}
.play-button {
  position: absolute;
  width: 130px;
  height: 130px;
  background-image: url('./assets/svg/play_button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.play-button:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.prices-items {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
}
.price-item {
  border: 2px solid #bdae82;
  padding: 42px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.price-title {
  margin: 0;
  font: 28px 'Merriweather', serif;
  font-weight: 700;
  line-height: 56px;
}
.price {
  padding: 20px 0;
  color: #bdae82;
  font: 24px 'Merriweather', serif;
  font-weight: 700;
  line-height: 48px;
}
.price-description {
  padding-bottom: 40px;
}
.price-description span {
  display: block;
  font-size: 18px;
  line-height: 36px;
}
.contacts-container {
  height: 700px;
  background: url('./assets/img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
}
#contacts {
  position: relative;
}
.contacts-wrap {
  position: absolute;
  top: 60px;
  right: 0;
  max-width: 450px;
}
.contacts-title {
  margin: 0 0 10px;
  color: #BDAE82;
  font: 40px 'Merriweather', serif;
  font-weight: 700;
  line-height: 80px;
}
.contacts-forms {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form {
  width: 450px;
  height: 50px;
  border: 2px solid #BDAE82;
  padding: 3px 18px;
  background-color: rgba(0, 0, 0, 0.5);
}
::placeholder {
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  vertical-align: middle;
}
.message-form {
  width: 450px;
  height: 100px;
  resize: none;
  border: 2px solid #BDAE82;
  padding: 3px 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #bdae82;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
}

/*footer*/
.footer .container {
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data span {
  margin-right: 20px;
}
.footer-text {
  margin: 0;
}
.footer-link,
.footer-link:visited {
  color: white;
  text-decoration: none;
  transition: .3s;
}
.footer-link:hover {
  color: #bdae82;
}
.social-list {
  margin: 0;
  padding: 9px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.social-media-item {
  width: 32px;
  height: 32px;
  transition: .3s;
}
.social-media-item:nth-child(1) {
  background-image: url('./assets/svg/inst\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(2) {
  background-image: url('./assets/svg/fb\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(3) {
  background-image: url('./assets/svg/tw\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:nth-child(4) {
  background-image: url('./assets/svg/pinterest\ 1.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.social-media-item:hover {
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.social-media-link {
  display: block;
  width: 100%;
  height: 100%;
}