@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./assets/fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Merriweather', serif;
  src: url(./assets/fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body {
  background-color: black;
  font: 20px 'Inter', sans-serif;
  font-weight: 400;
  color: white;
}
.container,
.header-container,
.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/*header*/
.header-container {
  display: flex;
  align-items: center;
  background: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  transition: .3s;
}
.nav-link:hover {
  color: #bdae82;
}
.switch-lng {
  font-weight: 700;
}
.lng,
.lng:visited {
  padding: 0 10px;
  line-height: 50px;
  text-decoration: none;
  transition: .3s;
}
.lng:hover {
  color: #bdae82;
}

/*main*/
.hero-container {
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background-image: url('./assets/img/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.hero-title {
  font: 60px 'Merriweather', serif;
  font-weight: 700;
}
.hero-text {
  height: 120px;
  line-height: 40px;
}
.gold-button {
  width: 220px;
  height: 55px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}